$background: #590013d7;
$background-add: #590013d2;
$Sections: #f7e0bbbe;
$ueberschrift: #f7e0bb;
$schrift: #0e0300;
$trennlinien: #154b52;
$rahmen: #590013;
$akzente: #5a4a2ad2;
$akzenteHell: #fabe45;
$schatten: #000b0d85;
$links: #590013;
