@import "./color";

/*Social Media*/
.icons {
  display: flex;
  justify-content: space-evenly;
  a {
    width: 25%;
    aspect-ratio: 1/1;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px $schatten;
    border: none;
  }
}
