/*Speziefisch für die Kalender-sec-Generator*/
/*Import erfolgt NACH section.scss*/
@import "./color";

.kalender {
  .date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid $trennlinien;
    border-radius: 35px;
    margin: 0 1vw;

    > h5 {
      font-size: 4rem;
      width: 22%;
      aspect-ratio: 1/1;
      background-color: black;
      color: $date;
      padding: 0 10px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    > h3 {
      font-size: 3.2rem;
      width: 50%;
      background-color: $date;
      padding: 0 10px;
      border-radius: 15px;
      margin-left: 1vw;
    }
    > h6 {
      font-size: 3.5rem;
      margin: 0 auto auto auto;
    }
  }
  h2 {
    font-size: 4rem;
  }
  h4 {
    border: none;
    font-size: 1.3rem;
    font-family: "Dancing Script", cursive;
    font-weight: 800;
  }
  p {
    width: 90%;
    text-align: justify;
    line-height: 1.4;
    font-size: 1.3rem;
    padding: 2vh 5vw;
    border-top: 2px solid $trennlinien;
    margin: 0;
  }
}
